<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mateus Erik - Portfólio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao site de Mateus Erik</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('sobre') }}">Sobre</a>
        <a href="{{ url_for('projetos') }}">Projetos</a>
        <a href="{{ url_for('contatos') }}">Contato</a>
    </nav>
    <main>
        {% block content %}
        <!-- Conteúdo específico de cada página -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mateus Erik. Todos os direitos reservados.</p>
    </footer>
</body>
</html>